@media all and (min-width:768px) and (max-width: 1024px){
    .nav {
        position: fixed;
        z-index: 4;
        /*width: 1007px;*/
        /* width: 100vw; */
        box-shadow: -2px 2px 5px 2px #1c1717e8;
        margin: 0px;
    }
    main>nav>ol:first-child {
        left: 290px;
    }
    main>nav>ol>li {
        padding: 0.7em;
        font-size: 1.25em;

    }
    .bubles {
        position: absolute;
        display: flex;
        /*margin-right: 700px;*/
        /*width: 100vw;*/
    }
    .box {
        left: 540px;
    }
    main>hr {
        width: 900px;
    }

    .photo_frame {
        width: 330px;
        height: 330px;
        left: 600px;
        bottom: 0px;

    }
    .h1 {
        left: 460px;
    }

    }
