@media all and (min-width:768px) and (max-width: 1024px){
    .nav {
        position: fixed;
        z-index: 4;
        /*width: 1007px;*/
        /* width: 100vw; */
        box-shadow: -2px 2px 5px 2px #1c1717e8;
        margin: 0px;
    }
    main>nav>ol:first-child {
        left: 290px;
    }
    main>nav>ol>li {
        padding: 0.7em;
        font-size: 1.25em;

    }
    .bubles {
        position: absolute;
        display: flex;
        /*margin-right: 700px;*/
        /*width: 100vw;*/
    }
    .box {
        left: 540px;
    }
    main>hr {
        width: 900px;
    }

    .photo_frame {
        width: 330px;
        height: 330px;
        left: 600px;
        bottom: 0px;

    }
    .h1 {
        left: 460px;
    }
    .h2 {

        width: 900px;

    }
    .h2_style {
        margin-left: 460px;
    }
    .gif_sec>img {
        width: 550px;
    }

    .edu_sec {

        width: 350px;
        height: 450px;
        left: 621px;
    }
    .circle {
        left: 524px;
    }
    .circle_1 {
        left: 524px;
    }
    .circle_2 {
        left: 524px;
    }
    .arrow {
        left: 581px

    }
    .arrow_1 {
        left: 581px

    }
    .arrow_2 {
        left: 581px

    }
    .ver_line {
        height: 60px;
        top: 275px;
        left: 563px;
    }
    .ver_line_1 {
        left: 563px;
        height: 60px;
    }
    }
