@media all and (max-width: 320px){
    .nav{
        width: 320px;
        /*border: 2px solid white;*/
    }
    main>nav>ol:first-child{
        display: none;
    }
    main>nav>ol:last-child>li {
        padding-left: 80px;
    }
    .animation_sec {
        width: 320px;
    }

    .box {
        position: absolute;
        left: 750px;
        bottom: 50px;
        width: 450px;
        height: 450px;
        border-radius: 50%;
        overflow: hidden;
    }
    main>section>aside>div {
        top: 100px;
        left: 20px;
    }

}


