@media all and (max-width: 320px){
    .nav{
        height: 60px;

    }
    main>nav>ol:first-child{
        display: none;
    }
    main>nav>ol:last-child>li {
        padding-left: 2em;
        margin: 0px;
    }
    .first_main{
        /*position: relative;*/

    }

    .box {
        left: 10vw;
        bottom: -10px;
        width: 250px;
        height: 250px;

    }
    main>section>aside>div {
        top: 100px;
        left: 5vw;
    }
    main>section>aside>div>p:first-child {
        font-size: 22px;

    }
    main>section>aside>div>p:nth-child(2) {
        font-size: 2.1885em;

    }
    .name_part {
        color: #FEA609;
    }
    main>section>aside>div>p:nth-child(3) {
        font-size: 22px;
        /*margin-top: 10px;*/
    }
    main>section>aside>div>p:nth-child(4) {
        font-size: 22px;
        margin-top: 220px
    }
    .fbImg {
        width: 15vw;
        height: 10vh;
        left: 20px;

    }
    .InsterImg {
        width: 13vw;
        height: 9vh;
        left: 120px;
    }
    .LinkidnImg {
        width: 13vw;
        height: 9vh;
        left: 220px;
    }
    /*main _2*/
    main>hr {
        position: relative;
        top: 600px;
        width: 250px;
    }
    .photo_frame {
  display: none;
    }
    .h1 {
        left: 110px;
        font-size: 22px;
    }
    .about_pra {
        margin-left: 15px;
        font-size: 16px;
    }
    .about_ol {
        margin-left: 10px;
        margin-top: 200px;
        font-size: 15px;
        font-family: "Arial Narrow";
        letter-spacing: 2px;
    }
    .main3 {
        height: max-content;
    }
    .btn_1 {
        position: relative;
        left: 20px;
        top: 40px;
        font-size: 1em;
    }
    .btn_2 {
        left: 50px;
        top: 40px;
        font-size: 1em;
    }
    .h2 {
        width: 250px;
        top: 100px;


    }
    .h2_style {

        margin-left: 90px;
        margin-top: 130px;
        font-size: 22px;


    }
    .gif_sec{
        height: 655px;
        position: relative;
    }
    .gif_sec>img {
     display: none;

    }
    .edu_sec {
        position: absolute;
        /*height: 300px;*/
        left: 0px;
        top: 100px;
        gap: 10px;

    }
    .edu_sec>div {
margin-left: 100px;
        width: 200px;
        height: 70px;
    }
    .edu_sec>div:first-child>p {
        font-size: 12px;
    }
    .edu_sec>div:first-child>p:last-child {
        font-size: 12px;

    }
    .edu_sec>div:nth-child(2)>p {
        font-size: 12px;
    }
    .edu_sec>div:nth-child(2)>p:last-child {
        font-size: 12px;
    }
    .edu_sec>div:nth-child(3)>p {
        font-size: 12px;
    }
    .edu_sec>div:nth-child(3)>p:last-child {
        font-size: 12px;
    }
    .arrow {
        height: 50px;
        width: 50px;
        left: 74px;
        top: 110px;
    }
    .arrow_1 {
        height: 50px;
        width: 50px;
        left: 74px;
        top: 263px;
    }
    .arrow_2 {
        height: 50px;
        width: 50px;
        left: 74px;
        top: 417px;
    }
    .circle {
        width: 50px;
        height:50px;
        top: 110px;
        left: 31px;
    }
    .circle>img {

        top: 3px;
        left: 2px;
        width: 50px;
        height: 50px;
    }
    .circle_1 {
        width: 50px;
        height:50px;
        top: 265px;
        left: 31px;
    }
    .circle_1>img {

        top: 3px;
        left: 2px;
        width: 50px;
        height: 50px;
    }
    .circle_2 {
        width: 50px;
        height:50px;
        top: 420px;
        left: 31px;
    }
    .circle_2>img {
        top: 3px;
        left: 2px;
        width: 50px;
        height: 50px;
    }
    .h3 {
        width: 250px;
        top: -100px;
    }
    .h3_style {

        font-size: 22px;
        bottom: 570px;
        left: 100px;

    }
    /*What Can I do*/
    .main_4 {
        position: relative;
    }

    .sec1 {
        position: relative;
        margin: 10px;
        height: 650px;
        display: grid;
        top: -358px;
        grid-template-rows: repeat(5,1fr);
        grid-template-columns: repeat(2,1fr);
        gap: 10px;
    }
.sec1>div{

    height: 120px;
    width: 140px;

}

    .sec1>div:nth-child(1)::before {
  display: none;
    }
    .sec1>div:nth-child(2)::before {
        display: none;
    }
    .sec1>div:nth-child(3)::before {
        display: none;
    }
    .sec1>div:nth-child(4)::before {
        display: none;
    }
    .sec1>div:nth-child(5)::before {
        display: none;
    }
    .sec1>div:nth-child(6)::before {
        display: none;
    }
    .sec1>div:nth-child(7)::before {
        display: none;
    }
    .sec1>div:nth-child(8)::before {
        display: none;
    }
    .sec1>div:nth-child(9)::before {
        display: none;
    }
    .sec1>div:nth-child(10)::before {
        display: none;
    }
    .sec1>div:nth-child(1)::after {
        width: 100px;
        height: 86px;
        background: #101010;
        position: absolute;
        left: 15px;
        top: 10px;

    }
    .sec1>div:nth-child(2)::after {
        width: 100px;
        height: 86px;
        background: #101010;
        position: absolute;
        left: 15px;
        top: 10px;

    }
    .sec1>div:nth-child(3)::after {
        width: 100px;
        height: 86px;
        background: #101010;
        position: absolute;
        left: 15px;
        top: 10px;

    }
    .sec1>div:nth-child(4)::after {
        width: 100px;
        height: 86px;
        background: #101010;
        position: absolute;
        left: 15px;
        top: 10px;

    }
    .sec1>div:nth-child(5)::after {
        width: 100px;
        height: 86px;
        background: #101010;
        position: absolute;
        left: 15px;
        top: 10px;

    }
    .sec1>div:nth-child(6)::after {
        width: 100px;
        height: 86px;
        background: #101010;
        position: absolute;
        left: 15px;
        top: 10px;

    }
    .sec1>div:nth-child(7)::after {
        width: 100px;
        height: 86px;
        background: #101010;
        position: absolute;
        left: 15px;
        top: 10px;

    }
    .sec1>div:nth-child(8)::after {
        width: 100px;
        height: 86px;
        background: #101010;
        position: absolute;
        left: 15px;
        top: 10px;

    }
    .sec1>div:nth-child(9)::after {
        width: 100px;
        height: 86px;
        background: #101010;
        position: absolute;
        left: 15px;
        top: 10px;

    }
    .sec1>div:nth-child(10)::after {
        width: 100px;
        height: 86px;
        background: #101010;
        position: absolute;
        left: 15px;
        top: 10px;

    }
    .h6_style {
        font-size: 22px;
        left: 120px;
        bottom: 1054px;
    }
    .sec_2 {

        top: 390px;
        left: 0px;
        height: 1400px;
        display: grid;
        width: 310px;
        grid-template-rows: repeat(6,1fr);
        grid-template-columns: repeat(1,1fr);
        grid-gap: 5px;
        background: rgba(255 ,255,255,0.05);
        border-radius: 30px;
    }
    .sec_2>div {
        left: 5px;
        position: relative;
        background: rgba(255 ,255,255,0.03);
        height: 220px;
        width: 300px;
        border-radius: 30px;
        border-top: 1px solid rgba(255,255,255,0.5);
        border-left: 1px solid rgba(255,255,255,0.5);
        backdrop-filter: blur(4px);
    }

    .sec_2>div:nth-child(1)>img {
        margin-left: 110px;
        margin-top: 0px;
        width: 70px;
        height: 70px;
    }
    .sec_2>div:nth-child(1)>p:nth-child(2) {

        font-size: 18px;
        margin-left: 80px;
        margin-top: 0px;
    }
    .sec_2>div:nth-child(1)>p:nth-child(3) {
        margin-left: 40px;
        font-size: 14px;
        letter-spacing: 2px;
    }
    .sec_2>div:nth-child(2)>img {
        margin-left: 110px;
        margin-top: 10px;
        width: 70px;
        height: 70px;
    }
    .sec_2>div:nth-child(2)>p:nth-child(2) {

        font-size: 18px;
        margin-left: 80px;
        margin-top: 10px;
    }
    .sec_2>div:nth-child(2)>p:nth-child(3) {
        margin-left: 40px;
        font-size: 14px;
        letter-spacing: 2px;
    }
    .sec_2>div:nth-child(3)>img {
        margin-left: 110px;
        margin-top: 10px;
        width: 70px;
        height: 60px;
    }
    .sec_2>div:nth-child(3)>p:nth-child(2) {

        font-size: 18px;
        margin-left: 105px;
        margin-top: -10px;
    }
    .sec_2>div:nth-child(3)>p:nth-child(3) {
        margin-left: 40px;
        font-size: 14px;
        letter-spacing: 2px;
    }
    .sec_2>div:nth-child(4)>img {
        margin-left: 110px;
        margin-top: 10px;
        width: 70px;
        height: 70px;
    }
    .sec_2>div:nth-child(4)>p:nth-child(2) {

        font-size: 18px;
        margin-left: 80px;
        margin-top: 10px;
    }
    .sec_2>div:nth-child(4)>p:nth-child(3) {
        margin-left: 40px;
        font-size: 14px;
        letter-spacing: 2px;
    }
    .sec_2>div:nth-child(5)>img {
        margin-left: 110px;
        margin-top: 10px;
        width: 70px;
        height: 70px;
    }
    .sec_2>div:nth-child(5)>p:nth-child(2) {

        font-size: 18px;
        margin-left: 80px;
        margin-top: 10px;
    }
    .sec_2>div:nth-child(5)>p:nth-child(3) {
        margin-left: 40px;
        font-size: 14px;
        letter-spacing: 2px;
    }
    .sec_2>div:nth-child(6)>img {
        margin-left: 110px;
        margin-top: 10px;
        width: 70px;
        height: 70px;
    }
    .sec_2>div:nth-child(6)>p:nth-child(2) {

        font-size: 18px;
        margin-left: 100px;
        margin-top: 10px;
    }
    .sec_2>div:nth-child(6)>p:nth-child(3) {
        margin-left: 40px;
        font-size: 14px;
        letter-spacing: 2px;
    }
}









