
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    margin: 0px;
    background-color: black;
    color: white;
    font-family: "Bodoni MT";
    /*font-family: "Arial Unicode MS";*/
    /*width: 100%;*/
    /*height: 5000px;*/
}
main>nav>ol>li{
    display: inline-block;
    padding: 16px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    font-family: "Arial Narrow";

}
main>nav>ol:first-child>li:hover{
    color: #FEA609;

}
main>nav>ol:first-child>li:active{
    color: #FEA609;
}

main>nav>ol:first-child{
    left: 580px;
    margin-top: 0px;
    display: inline;
    position: absolute;
    /*cursor: pointer;*/
}
.name_part{
    color: #FEA609;
    letter-spacing: 2px;
}
main>nav>ol:last-child>li{
    padding-left: -10px;
    font-size: 34px;
    padding-top: 7px;
    font-family: "Agency FB";
letter-spacing: 3px;
}
.spa_1{
    color: #FEA609;
}
main>nav>ol:last-child {
    padding-left:20px;
    margin: 0px;
}
main>section>aside>div{
    position: absolute;
    top: 150px;
    left: 100px;
}
main>section>aside>div>p:first-child{
    font-size: 32px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
main>section>aside>div>p:nth-child(2){
    font-size: 50px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 0px;
}
main>section>aside>div>p:nth-child(3){
    font-size: 32px;
    margin-top: 10px;
}
main>section>aside>div>p:nth-child(4){
    font-size: 32px;
    margin-top: 100px;


}
.fbImg{
    position: absolute;
    width: 5vw;
    height: 12vh;
    top: 500px;
    left: 100px;
    cursor: pointer;
}
.fbImg:hover{
    box-shadow: -2px 2px 5px 2px white;

}
.InsterImg:hover{
    box-shadow: -2px 2px 5px 2px white;
}
.LinkidnImg:hover{
    box-shadow: -2px 2px 5px 2px white;
}
.InsterImg{
    position: absolute;
    width: 5vw;
    height: 12vh;
    top: 500px;
    left: 250px;
    cursor: pointer;
}
.LinkidnImg{
    position: absolute;
    width: 5vw;
    height: 12vh;
    top: 500px;
    left:400px;
    cursor: pointer;
}
.profile_pic{
    /*position: absolute;*/
    width: 30vw;
    height: 64vh;
    left:800px;
    top :120px;
    border-radius: 230px;
    /*border: 10px solid #FEA609;*/
}
main>hr{
    position: relative;
    top: 600px;
    width: 1200px;
}
.typing{
    position: relative;
}
.typing::after{
    content: '|';
    position: absolute;
    right: 0;
    color: #FEA609;
    background-color: black;
    width: 100%;
    animation: typing 4s steps(14) alternate infinite,
    line 1s infinite;
}
@keyframes typing {
    to{
        width: 0%;
    }

}
@keyframes line {
    50%{
        color: black;
    }

}
.h1{
  position: absolute;
    left: 600px;
    font-weight: bold;
    font-size: 32px;
    font-family: "Agency FB";
    top: -109px;
}

.h1_Style{
    color: #FEA609;
}
.about_pra{
    margin-left: 50px;
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 3px;
    font-family: "Arial Narrow";
    margin-top: -17px;

}
.about_li{
    color: #FEA609;
    font-family: "Arial Narrow";

}
.about_ol{
    margin-left: 70px;
    margin-top: 40px;
    font-size: 20px;
    font-family: "Arial Narrow";
    letter-spacing: 2px;
}
.about_lis{
    padding: 10px;
}
.btn{
    background-color: #FEA609;
    font-weight: bold;
    width: 130px;
    height: 35px;
    margin-left: 200px;
    border-radius: 10px;
    font-family: "Arial Narrow";
}
.nav{
    width: 100%;
    box-shadow: -2px 2px 5px 2px #1c1717e8;
    margin: 0px;
}

/*Profile Border Aination*/

.box {
    position: absolute;
    left: 750px;
    bottom: 50px;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    overflow: hidden;
}
.box:hover::before {
    inset: -20px 0px;
    border: 5px solid #FEA609;
}
.content {
    position: absolute;
    inset: 30px;
    /*border: 3px solid #0a83ec;*/
    z-index: 3;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*border: 5px solid #FEA609;*/
}
.content:hover {
    border: 5px solid #FEA609;
}
.content img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    pointer-events: none;
    z-index: 3;
}
.box:hover .content img {
    opacity: 0;
    border: 5px solid #FEA609;

}
.content h2 {
    position: relative;
    font-size: 1.5em;
    text-align: center;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.05em;
}
.content h2 span {
    font-weight: 300;
    font-size: 0.75em;
}
.content a {
    position: relative;
    margin-top: 10px;
    padding: 10px 20px;
    background: white;
    color: #FEA609;
    border-radius: 25px;
    font-weight: 500;
    font-size: 1.25em;
    letter-spacing: 0.05em;
    text-decoration: none;
    transition: 0.4s;

}
.content a:hover {
    letter-spacing: 0.3em;
    border: 5px solid #FEA609;
}
.btn_1{
    position: relative;
    left: 200px;
    top: 20px;
    padding: 10px 20px;
    background: #FEA609;
    border-radius: 25px;
    color: black;
    font-weight: 500;
    font-size: 1.25em;
    letter-spacing: 0.05em;
    text-decoration: none;
    transition: 0.4s;
    cursor: pointer;
    font-family: "Arial Narrow";
    z-index: 2;
}
.btn_1:hover{
    letter-spacing: 0.05em;
    color: white;
    font-weight: bold;
}
.btn_2{
    position: relative;
    left: 300px;
    top: 21px;
    padding: 11px 20px;
    background: #FEA609;
    border-radius: 25px;
    color: black;
    font-weight: 500;
    font-size: 1.25em;
    letter-spacing: 0.05em;
    text-decoration: none;
    transition: 0.4s;
    cursor: pointer;
    font-family: "Arial Narrow";
    z-index: 2;
}
.main3{
    margin-top:  701px;
    height: 509px;
    border-radius: 30px;
    width: 1300px;
    margin-left: 20px;
        box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
        background: rgba(255 ,255,255,0.07);
        border-top: 1px solid rgba(255,255,255,0.5);
        border-left:  1px solid rgba(255,255,255,0.5);
        backdrop-filter: opacity(5%);

}
.photo_div{
    position: absolute;
    width: 300px;
    height: 300px;
    /*border: 3px solid red;*/
    right: -2px;
    top: -4px;
    z-index: 2;
    border-bottom-left-radius: 40px;
}
.photo_div>img{
    width: 300px;
    height: 310px;
    position: absolute;
    bottom: 0px;
    top: -1px;
    border-bottom-left-radius: 40px;
    left: 3px;
}
.photo_frame{
    display: flex;
    position: absolute;
    width: 350px;
    height: 350px;
    left: 900px;
    bottom: 30px;
    border: 5px Dashed #FEA609;
    border-bottom-left-radius: 40px;



}

.btn_2:hover{
    letter-spacing: 0.05em;
    color: white;
    font-weight: bold;

}
.h2{
    position: relative;
    width: 1200px;
    top: 100px;
}

/*About My Journey....................................*/
.h2_style{
    color: white;
    margin-left: 540px;
    font-weight: bold;
    font-size: 32px;
    margin-top: 150px;
    font-family: "Agency FB";
}
.spa_2{
    color: #FEA609;
}
.gif_sec>img{
    width: 650px;
    height: 650px;
}
.edu_sec{
    display:grid;
    position: absolute;
    width: 400px;
    height: 450px;

    left: 900px;
    top: 160px;

    grid-template-rows: repeat(3,1fr);
    /*grid-template-columns: repeat(4,1fr);*/
    gap: 60px;
    gap: 60px;

}
.edu_sec>div:first-child>p{
    color: white;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 1px;
    font-family: "Arial Narrow";

}
.edu_sec>div:nth-child(2)>p{
    color: white;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 1px;
    font-family: "Arial Narrow";

}
.edu_sec>div:nth-child(3)>p{
    color: white;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 1px;
    font-family: "Arial Narrow";

}
.edu_sec>div:nth-child(3)>p:last-child{
    font-weight: bolder;
    font-size: 22px;

    color: #FEA6;

}
.edu_sec>div:nth-child(2)>p:last-child{
    font-weight: bolder;
    font-size: 22px;

    color: #FEA6;
}
.edu_sec>div:first-child>p:last-child{
    font-weight: bolder;
    font-size: 22px;

    color: #FEA6;
}
.edu_sec>div{

    background: rgba(255 ,255,255,0.07);
    z-index: 2;
    background: #2d2d2d;
    /*background: #FEA609;*/
}
.arrow{
    width: 78px;
    height: 80px;
    /*transition: 0.5s;*/
    float: right;
    /*box-shadow: -2px -2px 0 #FEA609;*/
    position: absolute;
    left: 862px;
    top: 176px;
    /*background: #FEA609;*/
    transform: rotate(315deg);
    background: #2d2d2d;
}
.arrow_1{
    width: 78px;
    height: 78px;
    /*transition: 0.5s;*/
    float: left;
    /*box-shadow: -2px -2px 0 white;*/
    position: absolute;
    left: 860px;
    top: 350px;
    background: #FEA609;
    transform: rotate(315deg);
    background: rgba(255 ,255,255,0.07);
    background: #2d2d2d;
}
.arrow_2{
    width: 78px;
    height: 83px;
    /*transition: 0.5s;*/
    float: left;
    /*box-shadow: -2px -2px 0 white;*/
    position: absolute;
    left: 862px;
    top: 522px;
    background: #FEA609;
    transform: rotate(315deg);
    background: rgba(255 ,255,255,0.07);
    background: #2d2d2d;
}
.ver_line{
    position: absolute;
    border-left: 6px solid white;
    height: 69px;
    left: 830px;
    top: 270px;

}
.ver_line_1{
    position: absolute;
    border-left: 6px solid white;
    height: 69px;
    left: 830px;
    top: 440px;

}
.circle{
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color: #FEA609;
    top: 180px;
    left: 794px;
    box-shadow: 0 0 0 8px #fea6;
}
.circle>img {
    position: relative;
    top: 10px;
    left: 7px;
    width: 65px;
    height: 65px;
}

.circle_1{
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color: #FEA609;
    top: 350px;
    left: 794px;
    box-shadow: 0 0 0 8px #fea6;
}

.circle_1>img {
    position: relative;
    top: 10px;
    left: 9px;
    width: 65px;
    height: 65px;
}

.circle_2{
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color: #FEA609;
    top: 515px;
    left: 794px;
    box-shadow: 0 0 0 8px #fea6;
}
.circle_2>img {
    position: relative;
    top: 10px;
    left: 5px;
    width: 65px;
    height: 65px;
}
/*.Style_Div{*/
/*    height: 550px;*/
/*    width: 8px;*/
/*    background-color: white;*/
/*    position: relative;*/
/*    left: 50vw;*/
/*    top: 100px;*/

/*}*/
/*.Style_Div_1{*/
/*    height: 8px;*/
/*    width: 200px;*/
/*    background-color: #FEA609;*/
/*    position: relative;*/
/*    left: 690px;*/
/*    top: 0px;*/
/*}*/

/*.Style_Div_2{*/
/*    height: 8px;*/
/*    width: 200px;*/
/*    background-color: #FEA609;*/
/*    position: relative;*/
/*    left: 690px;*/
/*    bottom: 350px;*/
/*}*/
/*.Style_Div_3{*/
/*    height: 8px;*/
/*    width: 200px;*/
/*    background-color: #FEA609;*/
/*    position: relative;*/
/*    left: 484px;*/
/*    top: -190px;*/
/*}*/
/*.Style_Div_4{*/
/*    width: 30px;*/
/*    height: 30px;*/
/*    background-color: white;*/
/*    position: relative;*/
/*    border-radius: 50%;*/
/*    left: 672px;*/
/*    top: 76px;*/
/*}*/
/*.Style_Div_5{*/
/*    width: 30px;*/
/*    height: 30px;*/
/*    background-color: white;*/
/*    position: relative;*/
/*    border-radius: 50%;*/
/*    left: 672px;*/
/*    left: 672px;*/
/*    bottom: 520px;*/
/*}*/
/*.Style_Div_6 {*/
/*    width: 30px;*/
/*    height: 30px;*/
/*    background-color: #FEA609;*/
/*    position: relative;*/
/*    border-radius: 50%;*/
/*    left: 890px;*/
/*    bottom: 94px;*/
/*}*/
/*.Style_Div_7 {*/
/*    width: 30px;*/
/*    height: 30px;*/
/*    background-color: #FEA609;*/
/*    position: relative;*/
/*    border-radius: 50%;*/
/*    left: 889px;*/
/*    bottom: 468px;*/
/*}*/
/*.Style_Div_8 {*/
/*    width: 30px;*/
/*    height: 30px;*/
/*    background-color: #FEA609;*/
/*    position: relative;*/
/*    border-radius: 50%;*/
/*    left: 455px;*/
/*    bottom: 330px;*/
/*}*/
/*.Style_Div_9{*/
/*    width: 250px;*/
/*    height: 140px;*/
/*    border: 3px solid white;*/
/*    position: relative;*/
/*    left: 970px;*/
/*    bottom: 220px;*/
/*}*/
/*.Style_Div_9>p:first-child{*/
/*    color: white;*/
/*    position: relative;*/
/*    left: 40px;*/
/*    font-weight: bold;*/
/*    font-size: 20px;*/
/*}*/
/*.Style_Div_9>p:nth-child(2){*/
/*    position: relative;*/
/*    left: 39px;*/
/*    color: #FEA609;*/
/*}*/
/*.Style_Div_9>p:last-child{*/
/*    font-weight: bold;*/
/*    position: relative;*/
/*    left: 90px;*/

/*}*/
/*.Style_Div_10{*/
/*    width: 250px;*/
/*    height: 140px;*/
/*    border: 3px solid white;*/
/*    position: relative;*/
/*    left: 970px;*/
/*    bottom: 740px;*/

/*}*/
/*.Style_Div_10>p:first-child{*/
/*    color: white;*/
/*    position: relative;*/
/*    left: 50px;*/
/*    font-weight: bold;*/
/*    font-size: 20px;*/
/*}*/
/*.Style_Div_10>p:nth-child(2){*/
/*    position: relative;*/
/*    left: 100px;*/
/*    color: #FEA609;*/
/*}*/
/*.Style_Div_10>p:last-child{*/
/*    font-weight: bold;*/
/*    position: relative;*/
/*    left: 94px;*/

/*}*/
/*.Style_Div_11{*/
/*    width: 250px;*/
/*    height: 140px;*/
/*    border: 3px solid white;*/
/*    position: relative;*/
/*    left: 130px;*/
/*    bottom: 700px;*/
/*    cursor: pointer;*/

/*}*/
/*.Style_Div_11>p:first-child{*/
/*    color: white;*/
/*    position: relative;*/
/*    left: 40px;*/
/*    font-weight: bold;*/
/*    font-size: 20px;*/
/*}*/
/*.Style_Div_11>p:nth-child(2){*/
/*    position: relative;*/
/*    left: 70px;*/
/*    color: #FEA609;*/
/*}*/
/*.Style_Div_11>p:last-child{*/
/*    font-weight: bold;*/
/*    position: relative;*/
/*    left: 94px;*/

/*}*/
/*.Style_Div_11:hover{*/
/*    box-shadow: -2px 2px 5px 2px white;*/
/*    border: 3px solid #FEA609;*/


/*}*/
/*.Style_Div_10:hover{*/
/*    box-shadow: -2px 2px 5px 2px white;*/
/*    border: 3px solid #FEA609;*/


/*}*/
/*.Style_Div_9:hover{*/
/*    box-shadow: -2px 2px 5px 2px white;*/
/*    border: 3px solid #FEA609;*/


/*}*/
.h3{
    position: relative;
    width: 1200px;
    bottom: 9px;
}
.main_4{
    height: 159px;
    margin-top: 400px;
    position: relative;

}
/*What can I do*/
.h3_style{
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: 32px;
    position: absolute;
    bottom: 450px;
    left: 600px;
    font-family: "Agency FB";
    letter-spacing: 1px;

}
.h3_style>span{
    color: #FEA609;

}


.sec1{
    position: relative;
    top: -233px;
    height: 450px;
    width: 1250px;
    margin: 50px;
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(5,1fr);
    gap: 20px;
}
.sec1>div{
    /*box-shadow: -8px -9px 14px 0px rgba(255, 255, 255, 0.68);*/
    box-shadow: 16px 14px 20px #0000008c;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    display: flex;
}
/*..................................................*/
.sec1>div:nth-child(1)::before{
    content: "";
    background-image: conic-gradient(
            #FEA609 20deg,
            transparent 120deg
    );
    width:150%;
    height: 150%;
    position: absolute;
    animation: rotate 20s linear infinite;
}
.sec1>div:nth-child(1)::after{
    content: url("/assets/img/img_12.png");
    width: 229px;
    height: 206px;
    background: #101010;
    position: absolute;
    left: 2px;
    top: 4px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ff0052;
    font-size: larger;
    letter-spacing: 5px;
    box-shadow: inset 20px 20px 20px #0000008c;
}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}


/*..................................*/
.sec1>div:nth-child(2)::before{
    content: "";
    background-image: conic-gradient(
            #FEA609 20deg,
            transparent 120deg
    );
    width:150%;
    height: 150%;
    position: absolute;
    animation: rotate 20s linear infinite;
}
.sec1>div:nth-child(2)::after{
    content: url("/assets/img/img_13.png");
    width: 229px;
    height: 206px;
    background: #101010;
    position: absolute;
    left: 2px;
    top: 4px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ff0052;
    font-size: larger;
    letter-spacing: 5px;
    box-shadow: inset 20px 20px 20px #0000008c;
}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}
/*..................................*/
.sec1>div:nth-child(3)::before{
    content: "";
    background-image: conic-gradient(
            #FEA609 20deg,
            transparent 120deg
    );
    width:150%;
    height: 150%;
    position: absolute;
    animation: rotate 20s linear infinite;
}
.sec1>div:nth-child(3)::after{
    content: url("/assets/img/pythone.svg");
    width: 229px;
    height: 206px;
    background: #101010;
    position: absolute;
    left: 2px;
    top: 4px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ff0052;
    font-size: larger;
    letter-spacing: 5px;
    box-shadow: inset 20px 20px 20px #0000008c;
}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}
/*..................................*/
.sec1>div:nth-child(4)::before{
    content: "";
    background-image: conic-gradient(
            #FEA609 20deg,
            transparent 120deg
    );
    width:150%;
    height: 150%;
    position: absolute;
    animation: rotate 20s linear infinite;
}
.sec1>div:nth-child(4)::after{
    content: url("/assets/img/img_5.png");
    width: 229px;
    height: 206px;
    background: #101010;
    position: absolute;
    left: 2px;
    top: 4px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ff0052;
    font-size: larger;
    letter-spacing: 5px;
    box-shadow: inset 20px 20px 20px #0000008c;
}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}

/*..................................*/
.sec1>div:nth-child(5)::before{
    content: "";
    background-image: conic-gradient(
            #FEA609 20deg,
            transparent 120deg
    );
    width:150%;
    height: 150%;
    position: absolute;
    animation: rotate 20s linear infinite;
}
.sec1>div:nth-child(5)::after{
    content: url("/assets/img/img_6.png");
    width: 229px;
    height: 206px;
    background: #101010;
    position: absolute;
    left: 2px;
    top: 4px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ff0052;
    font-size: larger;
    letter-spacing: 5px;
    box-shadow: inset 20px 20px 20px #0000008c;
}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}
/*...................................*/
.sec1>div:nth-child(6)::before{
    content: "";
    background-image: conic-gradient(
            #FEA609 20deg,
            transparent 120deg
    );
    width:150%;
    height: 150%;
    position: absolute;
    animation: rotate 20s linear infinite;
}
.sec1>div:nth-child(6)::after{
    content: url("/assets/img/img_7.png");
    width: 229px;
    height: 206px;
    background: #101010;
    position: absolute;
    left: 2px;
    top: 4px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ff0052;
    font-size: larger;
    letter-spacing: 5px;
    box-shadow: inset 20px 20px 20px #0000008c;
}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

/*....................................*/
.sec1>div:nth-child(7)::before{
    content: "";
    background-image: conic-gradient(
            #FEA609 20deg,
            transparent 120deg
    );
    width:150%;
    height: 150%;
    position: absolute;
    animation: rotate 20s linear infinite;
}
.sec1>div:nth-child(7)::after{
    content: url("/assets/img/img_8.png");
    width: 229px;
    height: 206px;
    background: #101010;
    position: absolute;
    left: 2px;
    top: 4px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ff0052;
    font-size: larger;
    letter-spacing: 5px;
    box-shadow: inset 20px 20px 20px #0000008c;
}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}
/*.....................................*/
.sec1>div:nth-child(8)::before{
    content: "";
    background-image: conic-gradient(
            #FEA609 20deg,
            transparent 120deg
    );
    width:150%;
    height: 150%;
    position: absolute;
    animation: rotate 20s linear infinite;
}
.sec1>div:nth-child(8)::after{
    content: url("/assets/img/img_9.png");
    width: 229px;
    height: 206px;
    background: #101010;
    position: absolute;
    left: 2px;
    top: 4px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ff0052;
    font-size: larger;
    letter-spacing: 5px;
    box-shadow: inset 20px 20px 20px #0000008c;
}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}

/*......................................*/
.sec1>div:nth-child(9)::before{
    content: "";
    background-image: conic-gradient(
            #FEA609 20deg,
            transparent 120deg
    );
    width:150%;
    height: 150%;
    position: absolute;
    animation: rotate 20s linear infinite;
}
.sec1>div:nth-child(9)::after{
    content: url("/assets/img/img_10.png");
    width: 229px;
    height: 206px;
    background: #101010;
    position: absolute;
    left: 2px;
    top: 4px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ff0052;
    font-size: larger;
    letter-spacing: 5px;
    box-shadow: inset 20px 20px 20px #0000008c;
}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}
/*......................................*/
.sec1>div:nth-child(10)::before{
    content: "";
    background-image: conic-gradient(
            #FEA609 20deg,
            transparent 120deg
    );
    width:150%;
    height: 150%;
    position: absolute;
    animation: rotate 20s linear infinite;
}
.sec1>div:nth-child(10)::after{
    content: url("/assets/img/img_11.png");
    width: 229px;
    height: 206px;
    background: #101010;
    position: absolute;
    left: 2px;
    top: 4px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ff0052;
    font-size: larger;
    letter-spacing: 5px;
    box-shadow: inset 20px 20px 20px #0000008c;
}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}
/*.......................................*/


/* Our Service*/
.h6_style{
    font-size: 34px;
    position: absolute;
    left: 600px;
    bottom: 645px;
    font-family: "Agency FB";
}
.h6_style>span{
    color: #FEA609;
}
.hr_style{
    position: relative;
    top: 280px;
}
.sec_2{
    position: relative;
    top: 390px;
    left: 50px;
    height: 1000px;
    display: grid;
    width: 1250px;
    grid-template-rows: repeat(3,3fr);
    grid-template-columns: repeat(3,3fr);
    grid-gap: 40px;
    background: rgba(255 ,255,255,0.05);
    border-radius: 30px;

}
.sec_2>div{
position: relative;
    background: rgba(255 ,255,255,0.03);
    height: 470px;
    border-radius: 30px;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left:  1px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(4px);
}
.sec_2>div:nth-child(1)>img{
    margin-left: 110px;
    margin-top: 50px;
}
.sec_2>div:nth-child(1)>p:nth-child(2){
    color: #FEA609;
    font-family: "Agency FB";
    font-size: 30px;
    margin-left: 90px;
    letter-spacing: 2px;
}
.sec_2>div:nth-child(1)>p:nth-child(3){
   font-family: "Arial Narrow";
    margin-left: 40px;
    font-size: 20px;
    letter-spacing: 2px;
}
.sec_2>div:nth-child(2)>img{
    margin-left: 150px;
    margin-top: 60px;
}
.sec_2>div:nth-child(2)>p:nth-child(2){
    color: #FEA609;
    font-family: "Agency FB";
    font-size: 30px;
    margin-left: 95px;
    letter-spacing: 2px;
}
.sec_2>div:nth-child(2)>p:nth-child(3){
    font-family: "Arial Narrow";
    margin-left: 40px;
    font-size: 20px;
    letter-spacing: 2px;
}
.sec_2>div:nth-child(3)>img{
    margin-left: 150px;
    margin-top: 60px;
    margin-bottom: 20px;
}
.sec_2>div:nth-child(3)>p:nth-child(2){
    color: #FEA609;
    font-family: "Agency FB";
    font-size: 30px;
    margin-left: 130px;
    letter-spacing: 2px;
}
.sec_2>div:nth-child(3)>p:nth-child(3){
    font-family: "Arial Narrow";
    margin-left: 40px;
    font-size: 20px;
    letter-spacing: 2px;
}
.sec_2>div:nth-child(4)>img{
    margin-left: 130px;
    margin-top: 60px;
}
.sec_2>div:nth-child(4)>p:nth-child(2){
    color: #FEA609;
    font-family: "Agency FB";
    font-size: 30px;
    margin-left: 95px;
    letter-spacing: 2px;
}
.sec_2>div:nth-child(4)>p:nth-child(3) {
    font-family: "Arial Narrow";
    margin-left: 40px;
    font-size: 20px;
    letter-spacing: 2px;

}
.sec_2>div:nth-child(5)>img{
    margin-left: 150px;
    margin-top: 80px;
}
.sec_2>div:nth-child(5)>p:nth-child(2){
    color: #FEA609;
    font-family: "Agency FB";
    font-size: 30px;
    margin-left: 80px;
    letter-spacing: 2px;
}
.sec_2>div:nth-child(5)>p:nth-child(3) {
    font-family: "Arial Narrow";
    margin-left: 40px;
    font-size: 20px;
    letter-spacing: 2px;

}
.sec_2>div:nth-child(6)>img{
    margin-left: 150px;
    margin-top: 50px;
}
.sec_2>div:nth-child(6)>p:nth-child(2){
    color: #FEA609;
    font-family: "Agency FB";
    font-size: 30px;
    margin-left: 130px;
    letter-spacing: 2px;
}
.sec_2>div:nth-child(6)>p:nth-child(3) {
    font-family: "Arial Narrow";
    margin-left: 40px;
    font-size: 20px;
    letter-spacing: 2px;

}
.main_5{
    margin-top: 450px;
    /*border: 2px solid red;*/
}
.h7_style{
    position: absolute;
    bottom: -3649px;
    width: 1250px;
    left: 40px;
    background-color: white;
}
.main_5>h1{
    display: inline;
    font-size: 33px;
   position: relative;
    top: 90px;
    left: 600px;
    font-family: "Agency FB";
}
.span_3{
    color: #FEA609;
}
.sec_4{
    position: relative;
    width: 1200px;
    height: 447px;
    border: 2px solid green;
    margin-left: 70px;
    margin-bottom: 183px;
    margin-top: 191px;
    display: flex;
    border-radius: 30px;
    background: rgba(255 ,255,255,0.05);
}
.sec_4>div{
    position: relative;
    width: 350px;
    height: 357px;
    left: 0px;
    margin: 20px;
top: 17px;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left:  1px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(4px);
    background: rgba(255 ,255,255,0.03);
    border-radius: 20px;
}
.sec_4>div:nth-child(1){

}

/*.sec_4>div:hover{*/
/*    width: 500px;*/
/*    box-shadow: -2px -7px 12px 2px white;*/

/*}*/
/*.sec_4>div>img:hover{*/
/*    position: relative;*/
/*    width: 400px;*/

/*}*/
.div_11>img{
    position: relative;
    width: 320px;
    height: 180px;
   left: 15px;
    top: 15px;
    border-radius: 20px;
}
.div_11>h2{
    margin-left: 30px;
}
.div_12>img{
    position: relative;
    width: 320px;
    height: 180px;
    left: 15px;
    top: 15px;
    border-radius: 20px;
}
.div_12>h2{
    margin-left: 30px;
}
.div_13>img{
    position: relative;
    width: 320px;
    height: 180px;
    left: 15px;
    top: 15px;
    border-radius: 20px;
}
.div_13>h2{
    margin-left: 30px;
}
.h8_style{
    position: relative;
    width: 1250px;
}
/*Contact*/
.sec_5>h1{
    margin-left: 600px;
    font-size: 33px;
}
.sec_5>h1>span{
    color: #FEA609;
}
.sec_5>p{
    font-size: 20px;
    margin-left: 80px;
    margin-top: 100px;
    letter-spacing: 3px;

}
.field{
/*border: 2px solid black;*/
width: 1000px;
margin-left: 120px;
    border-radius: 20px;
    /*border: 2px solid #FEA609;*/
    box-shadow:  2px 2px 11px white;
}
.field>input{
    position: relative;
    display: block;
    margin: 30px;
}
.field>input:nth-child(1){
    width: 1000px;
    height: 50px;
    background-color: black;
    border: 2px solid #FEA609;
    color: white;
}
.field>input:nth-child(2){
    width: 1000px;
    height: 50px;
    background-color: black;
    border: 2px solid #FEA609;
    color: white;
}
.field>input:nth-child(3){
    width: 1000px;
    height: 100px;
    background-color: black;
    border: 2px solid #FEA609;
    color: white;
}
.field>button{
    width: 130px;
    height: 35px;
    border-radius: 20px;
    margin-left: 30px;
    background-color: #FEA609;
}
.field>button>span{
    font-size:17px ;
    font-weight: bold;
}
.sec_6{

    margin-top: 60px;
    display: flex;
    margin-left: 100px;
}
.sec_6>div:nth-child(1){
    width: 100px;
    height: 100px;
    position: relative;
    left: 170px;
}
.sec_6>div:nth-child(1)>img{
    position: relative;
    left: 10px;
    top: 15px;
    width: 70px;
    height: 70px;
}
.sec_6>div:nth-child(2){
    width: 100px;
    height: 100px;

    position: relative;
    left: 440px;
}
.sec_6>div:nth-child(2)>img{
    width: 70px;
    height: 80px;
    margin-top: 10px;
    margin-left: 10px;
}
.sec_6>div:nth-child(3){
    width: 100px;
    height: 100px;
    position: relative;
    left: 700px;
}
.sec_6>div:nth-child(3)>img{
    width: 90px;
    height: 80px;
    position: relative;
    top: 13px;

}
.h10{
    font-size: 15px;
    margin-left: 15px;
}
.h12{
    position: relative;
    bottom: 20px;
    font-size: 15px;
    left: 27px;

}
.h13{
    position: relative;
    right: 40px;
    font-size: 15px;
    bottom: 10px;
}
.last_hr{
    width: 1250px;
    margin-top: 80px;
}
/*Links*/
.sec_7>p:first-child{
    margin-left: 40px;
    letter-spacing: 5px;
    font-size: 20px;
    font-weight: bold;
}
.sec_7>p:last-child{
    margin-left: 40px;
    letter-spacing: 5px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 50px;
}
.sec_8{
    display: flex;
    margin-left: 20px;
}
.sec_8>div{
    width: 50px;
    height: 50px;
    margin: 30px;
}
.sec_8>div>img {
    position: relative;
    width: 60px;
    height: 50px;
    left: -5px;
}
.sec_8>div:nth-child(3)>img{
    position: relative;
    width: 50px;
    left: 0px;
}
.sec_8>div:nth-child(4)>img{
    position: relative;
    width: 50px;
    left: 0px;
}
.animation_sec{

    width: 100%;
    height: 600px;
    position: absolute;
    overflow: hidden;
}
.bubles{
    position: absolute;
    display: flex;
}
.bubles>span{
    position: relative;
    width: 30px;
    height: 30px;
    background-color: #ff9700;
    margin: 20px;
    border-radius: 50%;
    box-shadow: 0 0 0 8px #FEA6;
    animation: animate 15s linear infinite;
    animation-duration: calc(155s / var(--i));
}
.bubles>span:nth-child(even){
    background-color: white;
    box-shadow: 0 0 0 8px #FEA6;
}
@keyframes animate {
    0%{
        transform: translateY(100vh) scale(0);
    }
    100%
    {
        transform: translateY(-10vh) scale(1);
    }
}


