
body{
   margin: 0px;
    background-color: black;
    color: white;
}
main>nav>ol>li{
    display: inline-block;
  padding: 10px;
    color: white;
    font-weight: bold;
}
main>nav>ol:first-child{
    margin-left: 450px;
    margin-top: 0px;
    display: inline;
    position: absolute;
    cursor: pointer;
}
.name_part{
    color: #FEA609;
}
main>nav>ol:last-child>li{
    padding-left: -10px;
}
main>nav>ol:last-child {
    padding-left:0px;
}
main>section>aside>div{
position: absolute;
    top: 150px;
    left: 60px;
}
main>section>aside>div>p:first-child{
    font-size: 32px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
main>section>aside>div>p:nth-child(2){
    font-size: 50px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 0px;
}
main>section>aside>div>p:last-child{
    font-size: 32px;
    margin-top: 10px;
}
.fbImg{
    position: absolute;
    width: 75px;
    height: 75px;
    top: 400px;
    left: 60px;
}
.InsterImg{
    position: absolute;
    width: 70px;
    height: 70px;
    top: 400px;
    left: 200px;
}
.LinkidnImg{
    position: absolute;
    width: 70px;
    height: 70px;
    top: 400px;
    left:350px;
}
.profile_pic{
    position: absolute;
    width: 350px;
    height: 350px;
    left:580px;
    top :120px;
    border-radius: 230px;
    border: 10px solid #FEA609;
}
main>hr{
    position: relative;
    top: 500px;
    width: 950px;
}
.typing{
    position: relative;
}
.typing::after{
    content: '|';
    position: absolute;
    right: 0;
    color: #FEA609;
    background-color: black;
    width: 100%;
    animation: typing 4s steps(14) alternate infinite,
    line 1s infinite;
}
@keyframes typing {
    to{
        width: 0%;
    }

}
@keyframes line {
    50%{
        color: black;
    }

}
.h1{
    padding-left: 400px;
    padding-top: 520px;
    font-weight: bold;
    font-size: 32px;
}
.h1_Style{
    color: #FEA609;
}
.about_pra{
    margin-left: 50px;
    font-size: 20px;
}
.about_li{
    color: #FEA609;

}
.about_ol{
    margin-left: 70px;
    margin-top: 40px;
    font-size: 20px;
}
.about_lis{
    padding: 10px;
}
.btn{
    background-color: #FEA609;
    font-weight: bold;
    width: 130px;
    height: 35px;
    margin-left: 200px;
    border-radius: 10px;
}

