
body{
   margin: 0px;
    background-color: black;
    color: white;
    width: 100%;
    height: 3000px;
}
main>nav>ol>li{
    display: inline-block;
  padding: 15px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
main>nav>ol:first-child>li:hover{
    color: #FEA609;

}
main>nav>ol:first-child>li:active{
    color: #FEA609;
}

main>nav>ol:first-child{
   left: 580px;
    margin-top: 0px;
    display: inline;
    position: absolute;
    /*cursor: pointer;*/
}
.name_part{
    color: #FEA609;
}
main>nav>ol:last-child>li{
    padding-left: -10px;
    font-size: 32px;
    padding-top: 7px;

}
.spa_1{
    color: #FEA609;
}
main>nav>ol:last-child {
    padding-left:20px;
    margin: 0px;
}
main>section>aside>div{
position: absolute;
    top: 150px;
    left: 100px;
}
main>section>aside>div>p:first-child{
    font-size: 32px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
main>section>aside>div>p:nth-child(2){
    font-size: 50px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 0px;
}
main>section>aside>div>p:last-child{
    font-size: 32px;
    margin-top: 10px;
}
.fbImg{
    position: absolute;
    width: 5vw;
    height: 12vh;
    top: 400px;
    left: 100px;
    cursor: pointer;
}
.fbImg:hover{
    box-shadow: -2px 2px 5px 2px white;

}
.InsterImg:hover{
    box-shadow: -2px 2px 5px 2px white;
}
.LinkidnImg:hover{
    box-shadow: -2px 2px 5px 2px white;
}
.InsterImg{
    position: absolute;
    width: 5vw;
    height: 12vh;
    top: 400px;
    left: 250px;
    cursor: pointer;
}
.LinkidnImg{
    position: absolute;
    width: 5vw;
    height: 12vh;
    top: 400px;
    left:400px;
    cursor: pointer;
}
.profile_pic{
    /*position: absolute;*/
    width: 30vw;
    height: 64vh;
    left:800px;
    top :120px;
    border-radius: 230px;
    /*border: 10px solid #FEA609;*/
}
main>hr{
    position: relative;
    top: 600px;
    width: 1200px;
}
.typing{
    position: relative;
}
.typing::after{
    content: '|';
    position: absolute;
    right: 0;
    color: #FEA609;
    background-color: black;
    width: 100%;
    animation: typing 4s steps(14) alternate infinite,
    line 1s infinite;
}
@keyframes typing {
    to{
        width: 0%;
    }

}
@keyframes line {
    50%{
        color: black;
    }

}
.h1{
    padding-left: 540px;
    padding-top: 600px;
    font-weight: bold;
    font-size: 32px;
}
.h1_Style{
    color: #FEA609;
}
.about_pra{
    margin-left: 60px;
    font-size: 20px;
    font-weight: bold;
}
.about_li{
    color: #FEA609;

}
.about_ol{
    margin-left: 70px;
    margin-top: 40px;
    font-size: 20px;
}
.about_lis{
    padding: 10px;
}
.btn{
    background-color: #FEA609;
    font-weight: bold;
    width: 130px;
    height: 35px;
    margin-left: 200px;
    border-radius: 10px;
}
.nav{
    width: 100%;
    box-shadow: -2px 2px 5px 2px #1c1717e8;
    margin: 0px;
}

/*Profile Border Aination*/

.box {
    position: absolute;
    left: 750px;
    bottom: 50px;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    overflow: hidden;
}
.box::before {
    content: '';
    position: absolute;
    inset: -10px 140px;
    background: linear-gradient(315deg,white,#FEA609);
    transition: 0.4s;
    animation: animate 3s linear infinite;
}
.box:hover::before {
    inset: -20px 0px;
}
@keyframes animate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.box::after {
    content: '';
    position: absolute;
    inset: 6px;
    background: black;
    border-radius: 50%;
    z-index: 1;
}
.content {
    position: absolute;
    inset: 30px;
    /*border: 3px solid #0a83ec;*/
    z-index: 3;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    pointer-events: none;
    z-index: 3;
}
.box:hover .content img {
    opacity: 0;
}
.content h2 {
    position: relative;
    font-size: 1.5em;
    text-align: center;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.05em;
}
.content h2 span {
    font-weight: 300;
    font-size: 0.75em;
}
.content a {
    position: relative;
    margin-top: 10px;
    padding: 10px 20px;
    background: white;
    color: #FEA609;
    border-radius: 25px;
    font-weight: 500;
    font-size: 1.25em;
    letter-spacing: 0.05em;
    text-decoration: none;
    transition: 0.4s;
}
.content a:hover {
    letter-spacing: 0.3em;
}
.btn_1{
    position: relative;
    left: 200px;
    top: 20px;
    padding: 10px 20px;
    background: #FEA609;
    border-radius: 25px;
    color: black;
    font-weight: 500;
    font-size: 1.25em;
    letter-spacing: 0.05em;
    text-decoration: none;
    transition: 0.4s;
    cursor: pointer;
}
.btn_1:hover{
    letter-spacing: 0.05em;
   color: white;
    font-weight: bold;
}
.btn_2{
    position: relative;
    left: 300px;
    top: 21px;
    padding: 11px 20px;
    background: #FEA609;
    border-radius: 25px;
    color: black;
    font-weight: 500;
    font-size: 1.25em;
    letter-spacing: 0.05em;
    text-decoration: none;
    transition: 0.4s;
    cursor: pointer;
}
.btn_2:hover{
    letter-spacing: 0.05em;
    color: white;
    font-weight: bold;

}
.h2{
   position: relative;
    width: 1200px;
    top: 100px;
}

/*About My Journey....................................*/
.h2_style{
    color: white;
    margin-left: 540px;
    font-weight: bold;
    font-size: 32px;
    margin-top: 150px;
}
.spa_2{
    color: #FEA609;
}
.Style_Div{
    height: 550px;
    width: 8px;
    background-color: white;
    position: relative;
    left: 50vw;
    top: 100px;
}
.Style_Div_1{
    height: 8px;
    width: 200px;
    background-color: #FEA609;
    position: relative;
    left: 690px;
    top: 0px;
}
.Style_Div_2{
    height: 8px;
    width: 200px;
    background-color: #FEA609;
    position: relative;
    left: 690px;
    bottom: 350px;
}
.Style_Div_3{
    height: 8px;
    width: 200px;
    background-color: #FEA609;
    position: relative;
    left: 484px;
    top: -190px;
}
.Style_Div_4{
    width: 30px;
    height: 30px;
    background-color: white;
    position: relative;
    border-radius: 50%;
    left: 672px;
    top: 76px;
}
.Style_Div_5{
    width: 30px;
    height: 30px;
    background-color: white;
    position: relative;
    border-radius: 50%;
    left: 672px;
    left: 672px;
    bottom: 520px;
}
.Style_Div_6 {
    width: 30px;
    height: 30px;
    background-color: #FEA609;
    position: relative;
    border-radius: 50%;
    left: 890px;
    bottom: 94px;
}
.Style_Div_7 {
    width: 30px;
    height: 30px;
    background-color: #FEA609;
    position: relative;
    border-radius: 50%;
    left: 889px;
    bottom: 468px;
}
.Style_Div_8 {
    width: 30px;
    height: 30px;
    background-color: #FEA609;
    position: relative;
    border-radius: 50%;
    left: 455px;
    bottom: 330px;
}
.Style_Div_9{
    width: 250px;
    height: 140px;
    border: 3px solid white;
    position: relative;
    left: 970px;
   bottom: 220px;
}
.Style_Div_9>p:first-child{
    color: white;
    position: relative;
    left: 40px;
    font-weight: bold;
    font-size: 20px;
}
.Style_Div_9>p:nth-child(2){
    position: relative;
    left: 39px;
    color: #FEA609;
}
.Style_Div_9>p:last-child{
    font-weight: bold;
    position: relative;
    left: 90px;

}
.Style_Div_10{
    width: 250px;
    height: 140px;
    border: 3px solid white;
    position: relative;
    left: 970px;
    bottom: 740px;

}
.Style_Div_10>p:first-child{
    color: white;
    position: relative;
    left: 50px;
    font-weight: bold;
    font-size: 20px;
}
.Style_Div_10>p:nth-child(2){
    position: relative;
    left: 100px;
    color: #FEA609;
}
.Style_Div_10>p:last-child{
    font-weight: bold;
    position: relative;
    left: 94px;

}
.Style_Div_11{
    width: 250px;
    height: 140px;
    border: 3px solid white;
    position: relative;
    left: 130px;
    bottom: 700px;
    cursor: pointer;

}
.Style_Div_11>p:first-child{
    color: white;
    position: relative;
    left: 40px;
    font-weight: bold;
    font-size: 20px;
}
.Style_Div_11>p:nth-child(2){
    position: relative;
    left: 70px;
    color: #FEA609;
}
.Style_Div_11>p:last-child{
    font-weight: bold;
    position: relative;
    left: 94px;

}
.Style_Div_11:hover{
    box-shadow: -2px 2px 5px 2px white;
    border: 3px solid #FEA609;


}
.Style_Div_10:hover{
    box-shadow: -2px 2px 5px 2px white;
    border: 3px solid #FEA609;


}
.Style_Div_9:hover{
    box-shadow: -2px 2px 5px 2px white;
    border: 3px solid #FEA609;


}
.h3{
    position: relative;
    width: 1200px;
   bottom: 372px;
}
/*What can I do*/
.h3_style{
    color: white;
position: relative;
    bottom: 340px;
    left: 560px;
    font-weight: bold;
    font-size: 32px;
}
.h3_style>span{
    color: #FEA609;

}
.hibernate_img{
position: relative;
    bottom: 250px;
    left: 100px;

}
.content_1{}
.box_1{}
