@media all and (min-width: 475px)and (max-width: 768px) {
    .nav {

        /* width: 1007px; */
        /* width: 100vw; */
        width: 765px;
    }

    main > nav > ol:first-child {
        left: 180px;
        margin-top: 10px;
    }

    main > nav > ol > li {
        padding: 0.4em;
        font-size: 1.21em;
    }

    main > section > aside > div {
        left: 30px;
    }

    main > section > aside > div > p:first-child {
        font-size: 28px;
    }

    main > section > aside > div > p:nth-child(2) {
        font-size: 40px;
         width: 330px;
    }
    main>section>aside>div>p:nth-child(3) {
        font-size: 28px;
    }
    .box {
        left: 381px;
        bottom: -20px;
        width: 380px;
        height: 380px;


    }
    main>hr {
        width: 633px;
    }
    .photo_frame {
       display: none;
    }
    .h1 {
        left: 325px;
    }
    .h2 {
        width: 633px;
    }
    .h2_style {
        margin-left: 326px;
    }
    .gif_sec>img {
        width: 357px;
    }
    .circle {
        left: 345px;
    }
    .circle_1{
        left: 345px;
    }
    .circle_2 {
        left: 345px;
    }
    .ver_line {
        left: 380px;
    }
    .ver_line_1 {
        left: 380px;
    }
    .arrow {
        left: 402px;
    }
    .arrow_1 {
        left: 402px;
    }
    .arrow_2 {
        left: 402px;
    }
    .edu_sec {
        width: 320px;
        height: 410px;
        bottom: 2px;
        left: 442px;
    }
    .edu_sec>div:first-child>p {
        color: white;
        font-weight: bold;
        font-size: 18px;

    }
    .edu_sec>div:first-child>p:last-child {
        font-size: 22px;
    }
    .edu_sec>div:nth-child(2)>p {

        font-size: 18px;

    }
    .edu_sec>div:nth-child(2) {
        margin-top: 5px;
    }
    .edu_sec>div:nth-child(3)>p {

        font-size: 18px;

    }
    .edu_sec>div:nth-child(3) {
        margin-top: 5px;
    }
    .h3 {
        width: 633px;
    }
    .h3_style {
        left: 326px;
    }
    .hr_style {
        width: 633px;
    }
    .h6_style {
        left: 324px;
    }
    .sec_2 {
        left: 5px;
        height: 1000px;
        width: 760px;
        grid-gap: 40px;
        right: 2px;

    }
    .sec_2>div:nth-child(1)>img {
        margin-left: 32px;
    }
    .sec_2>div:nth-child(2)>img {
        margin-left: 72px;
    }
    .sec_2>div:nth-child(3)>img {
        margin-left: 72px;
    }
    .sec_2>div:nth-child(4)>img {
        margin-left: 52px;
    }
    .sec_2>div:nth-child(5)>img {
        margin-left: 72px;
    }
    .sec_2>div:nth-child(6)>img {
        margin-left: 72px;
    }
    .sec_2>div:nth-child(3)>p:nth-child(2) {
        margin-left: 60px;
    }
    .sec_2>div:nth-child(5)>p:nth-child(2) {
        margin-left: 60px;
    }
    .sec_2>div:nth-child(6)>p:nth-child(2) {
        margin-left: 60px;
    }
    .sec_2>div:nth-child(1)>p:nth-child(3) {
        font-size: 17px;
    }
    .sec_2>div:nth-child(2)>p:nth-child(3) {
        font-size: 17px;
    }
    .sec_2>div:nth-child(3)>p:nth-child(3) {
        font-size: 17px;
        margin-top: 59px;
    }
    .sec_2>div:nth-child(4)>p:nth-child(3) {
        font-size: 17px;
        margin-top: 37px;
    }
    .sec_2>div:nth-child(5)>p:nth-child(3) {
        font-size: 17px;
    }
    .sec_2>div:nth-child(6)>p:nth-child(3) {
        font-size: 17px;
    }
    .h7_style {
        width: 633px;
        bottom: -3696px;
    }
    .main_5>h1 {

        top: 90px;
        left: 321px;
    }
    .sec_4>div {
        width: 220px;
        left: 10px;
        margin: 15px;
    }
    .div_11>img {
        width: 188px;
    }
    .div_11>p:nth-child(2) {
        font-size: 25px;
        margin-left: 22px;
    }
    .div_12>img {
        width: 188px;
    }
    .div_12>p:nth-child(2) {
        font-size: 25px;
        margin-left: 22px;
    }
    .div_13>img {
        width: 188px;
    }
    .div_13>p:nth-child(2) {
        font-size: 25px;
        margin-left: 22px;
    }
    .div_11>a {

        margin-left: 69px;
        font-size: 15px;
        margin-bottom: 20px;

    }
    .div_12>a {
        position: relative;
        bottom: -30px;
        margin-left: 69px;

    }
    .div_13>a {
        position: relative;
        bottom: -30px;
        margin-left: 69px;

    }

}