*{
    margin: 0px;
}


.img_div{
    /*position: absolute;*/
    /*top: 0px;*/
    /*bottom: 700px;*/
}
.char{
    height: 200px;
    position: absolute;
    top: 417px;
    left: 50px;
}
.background{
    width: 100vw;
    height: 100vh;
    /*background: url("../assects/vecteezy_night-city-landscape-with-a-large-planet-on-the-horizon-and_4371966.jpg");*/
    background-image: url("../assects/vecteezy_night-city-landscape-with-a-large-planet-on-the-horizon-and_4371966.jpg");
    background-size: cover;
    background-repeat: repeat-x;
}